@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Slab:wght@300&display=swap');

*
{
    margin: 0;
    padding: 0;
}

:root 
{
    --preto: #000000ff;
    --cinzaEscuro: #66666eff;
    --cinzaClaro: #9999a1ff;
    --platina: #e6e6e9ff;
    --branco: #f4f4f6ff;
    --verdeEscuro: #004b23ff;
    --verdeClaro: #008000ff;
    --verdeClarinho: #38b000ff;
    --fonteTitulo: "Kanit", sans-serif;
    --fonteTexto: "Roboto Slab", serif;
}

body
{
    background-color: var(--preto);
    font-family: var(--fonteTexto);
    color: var(--branco);
    height: 100vh;
}

header
{
    background-color: var(--platina);
    text-align: center;
}

h1
{
    font-family: var(--fonteTitulo);
    font-size: 2.5em;
    color: var(--preto);
    padding: 1.5rem 0;
}

nav
{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a
{
    text-decoration: none;
    color: var(--preto);
    font-size: 1.5rem;
    margin: 0.2rem 1rem 0;
}

nav a:hover
{
    text-decoration: underline;
    color: var(--verdeClarinho);
    transform: scale(0.9);
    transition: transform 0.3s;
}

.caixa-grafico
{
    margin: 5rem;
}

.caixa-grafico__texto
{
    font-size: 1.2rem;
    font-family: var(--fonteTitulo);
    background-color: var(--branco);
    color: var(--preto);
    padding: 2rem;
    border-radius: 12px;
    border-style: double;
    border-width: 10px;
    border-color: var(--cinzaEscuro);
}

span
{
    font-family: var(--fonteTitulo);
    color: var(--verdeClarinho);
    font-size: 20px;
}

footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--platina);
    color: var(--preto);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-family: var(--fonteTitulo);
}